.breadcrumb {
    ol {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 32px;
        color: $color-black;

        .breadcrumb-link {
            font-weight: 600;

            a {
                color: $color-black;
                text-transform: capitalize;
            }
        }
        .breadcrumb-last {
            font-weight: 400;
        }
    }
}
.only-last-path {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 32px;
    color: $color-black;
}