.card {
    max-width: 100%;
    padding: 24px;
    background-color: $color-white;
    border-radius: $card-radius;
    box-shadow: $card-shadow;

    .card-title {
        margin-bottom: 30px;
        color: $color-black;

        p {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        span {
            font-size: 16px;
            font-weight: 400;
        }
        
        @media screen and (max-width: 650px) {
            p {
                font-size: 18px;
            }
            span {
                font-size: 14px;
            }
        }
    }

}

.card-list {
    padding: 20px 15px;
    background-color: $color-white;
    border-radius: $card-sm-radius;
    box-shadow: $card-shadow;
}