.table-default {
    min-width: 100%;
    border-collapse: collapse;

    thead {
        background-color: rgb(248, 250, 252);

        th {
            padding: 12px 24px;
            text-align: left;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.025em;
            line-height: 20px;
            white-space: nowrap;
            color: $color-black;
        }
    }
    tbody {
        background-color: $color-white;

        tr {
            td {
                padding: 16px 24px;
                white-space: nowrap;
                color: $color-black;
                border-bottom: 1px solid $color-line;

                a {
                    color: $color-black;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            &:last-child {
                td {
                    border-bottom: none;
                }
            }
        }
    }
}

.table-detail {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    .list {
        display: flex;
        margin-bottom: 12px;
        font-size: 16px;
        white-space: nowrap;
        color: $color-black;

        &:last-child {
            margin-bottom: 0;
        }
        &-title {
            flex: none;
            width: 10%;
            min-width: 100px;
            font-weight: 600;
            line-height: 20px;
            margin-right: 30px;
        }
        &-desc {
            flex: 1 1 0%;
            font-weight: 400;
            line-height: 20px;
        }
    }

    @media (max-width: 768px) {
        .list {
            font-size: 14px;
        }
    }
}