// Variable Color
$background-color: #f6f8fd;
$color-white: #ffffff;
$color-black: #1F2937;
$color-gray: #383838;
$color-gray-light: #888888;
$color-line: #e1e1e1;

// Variable Radius
$card-radius: 20px;

// Variable Shadow
$card-shadow: 0px 4px 10px #e7e8f1;